a {text-decoration:none;color:#333;}
ul, li {list-style:none;margin:0;padding:0;}

.tab {border-bottom:1px solid #999;}
.tab > ul {margin-bottom:-1px;}
.tab > ul > li {display:inline-block;vertical-align:top;margin:0 5px;}
.tab > ul > li > a {display:inline-block;position:relative;padding:3px 10px;border:1px solid transparent;border-bottom-color:#999;background:#f3f3f3;transition:all .2s;}
.tab > ul > li > a:hover {border-color:#999;border-bottom-color:#f3f3f3;}
.tab > ul > .active > a {color:#fff;cursor:default;border-color:#999;background:#25ab5e;}
.tab > ul > .active > a:hover {border-bottom-color:#25ab5e;}
